{% load static %}


<div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <div class="card-body">
    <a href="{{obj.get_absolute_url}}"><h5 class="card-title">Title: {{obj.title}}</h5></a>
    <p class="card-text">Description: Here is some sample description of this quiz.</p>
    <p class="card-text">Subject: {{obj.get_subject_display}}</p>
    <p class="card-text">No. of Ques.: {{obj.questions.count}}</p>
    <a href="{{obj.get_absolute_url}}" class="btn btn-primary">Jump to Quiz</a>
  </div>
</div>
